<div class="square card">
      <div class="card-header div">
            <h4>Educacion</h4>
            <app-button-add (click)="crearEdu()" *ngIf="isLogged" label="Añadir"></app-button-add>
      </div>
      <div class="card-body">
            <form *ngFor="let Edu of edu" >
                  <div class="div">
                        <div>
                              <h5>{{Edu.nombreEdu}}</h5>
                        </div>
                        <div >
                              <app-button-edit *ngIf="isLogged" (click)="modifcarEdu(Edu)"></app-button-edit>
                              <app-button-delete *ngIf="isLogged" ><i class="bi bi-archive"></i></app-button-delete>
                        </div>
                  </div>
                  <p>{{Edu.descripcionEdu}}</p>
            </form>
      </div>
</div>