<div class="square card">
    <div class="container col-xxl-8 px-4 py-5">
      <div class="rowflex-lg-row-reverse align-items-center g-5 py-5">
          <div class="row" *ngFor="let Body of body">
            <div class="col-sm-6">
              <h1>Sobre mi:</h1>
              <p class="lead">{{Body.sobreMi}}</p>
              <button class="btn btn-dark" *ngIf="isLogged" (click)="modificarBody(Body)"><i class="bi bi-pen"></i></button>
            </div>
            <div class="col-sm-6">
              <img src="{{Body.url_Foto}}" class="brochure-poster d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        </div>
      </div>
      <button class="btn btn-dark" type="submit" *ngIf="isLogged" (click)="crearBody()">Añadir</button>
    </div>
  </div>
  <app-experiencia>
  </app-experiencia>
  <app-educacion>
  </app-educacion>
  <app-skills>
  </app-skills>
  <app-proyectos>
  </app-proyectos>
  