<div class="square card">
    <div class="card-header div">
        <h4>Experiencia Laboral</h4>
        <app-button-add  (click)="crearExp()" *ngIf="isLogged" label="Añadir"></app-button-add>
    </div>
    <div class="card-body">
        <form *ngFor="let Experiencia of expe">
            <div class="div">
                <div>
                    <h5>{{Experiencia.nombreExp}}</h5>
                </div>
                <div>
                    <app-button-edit (click)="modificarExp(Experiencia)" *ngIf="isLogged"></app-button-edit>
                    <app-button-delete (click)="delete(Experiencia.id)" *ngIf="isLogged"></app-button-delete>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <img class="col-2 container-sm" src="{{Experiencia.url_logo}}"/>
                    <div class="col-10">
                        <p>Período: {{Experiencia.periodo}}</p>
                        <p>Descripción: {{Experiencia.descripcionExp}}</p>
                    </div>
                </div>
                
          </div>
        </form>
    </div>
</div>
