<form class="card" #f="ngForm" (ngSubmit)="onLogin()" novalidate>


    <!-- User input -->
    <div class="form-outline mb-4">
      <input type="text" autofocus id="form1Example1 nombreUsuario" name="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario" required/>
      <label class="form-label" for="form1Example1">User</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form1Example2 password" name="password" class="form-control" [(ngModel)]="password" required/>
      <label class="form-label" for="form1Example2">Password</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
  </form>