<div class="square card">
    <div class="card-header div">
          <h4>Proyectos</h4>
          <app-button-add (click)="crearPro()" *ngIf="isLogged" label="Añadir"></app-button-add>
    </div>
    <div class="card-body">
          <form *ngFor="let Pro of pro" >
                <div class="div">
                      <div>
                            <h5>{{Pro.nombreP}}</h5>
                      </div>
                      <div >
                            <app-button-edit *ngIf="isLogged" (click)="modificarPro(Pro)"></app-button-edit>
                            <app-button-delete *ngIf="isLogged"(click)="delete(Pro)"></app-button-delete>
                      </div>
                </div>
                <p>Fecha: {{Pro.fecha}}</p>
                <p>Link: {{Pro.link}}</p>
                <p>Descripcion: {{Pro.descripcionP}}</p>
          </form>
    </div>
</div>