.a{
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 23px;
    padding: 1rem;
}
.img{
    margin-right: 1rem;
}
.container2{
    display: flex;
    justify-content: space-between;
}
.margin-b{
    padding-bottom: 0.1rem;
}