<div class="card">
    <div class="card-header div">
        <h4>Experiencia Laboral</h4>
        <a class="btn btn-dark" routerLink="/new-exp" *ngIf="isLogged">Añadir</a>
    </div>
    <div class="card-body">
        <form *ngFor="let Experiencia of expe">
            <div class="div">
                <div>
                    <h5>{{Experiencia.nombreExp}}</h5>
                </div>
                <div>
                    <a class="btn btn-dark margin" routerLink="/new-exp" *ngIf="isLogged"><i class="bi bi-pen"></i></a>
                    <a class="btn btn-dark" routerLink="/new-exp" *ngIf="isLogged"><i class="bi bi-archive"></i></a>
                </div>
            </div>
            <p>{{Experiencia.descripcionExp}}</p>
        </form>
    </div>
</div>
