<div class="card">
    <div class="card-header div">
        <h4>Experiencia Laboral</h4>
        <a class="btn btn-dark" (click)="crearExp()" *ngIf="isLogged">Añadir</a>
    </div>
    <div class="card-body">
        <form *ngFor="let Experiencia of expe">
            <div class="div">
                <div>
                    <h5>{{Experiencia.nombreExp}}</h5>
                </div>
                <div>
                    <button class="btn btn-dark margin" (click)="modificarExp(Experiencia)" *ngIf="isLogged"><i class="bi bi-pen"></i></button>
                    <button class="btn btn-dark" (click)="delete(Experiencia.id)" *ngIf="isLogged"><i class="bi bi-archive"></i></button>
                </div>
            </div>
            <p>{{Experiencia.descripcionExp}}</p>
        </form>
    </div>
</div>
