.card{
    margin: 2em;
}
.row{
    margin-right: 1em;
}
.x{
    display: flex;
    justify-content: space-between;
}
.col-sm-6 {
    width:20%;
}
.margin{
    margin:0.5em;
}
@media (min-width: 300px) and (max-width: 1200px) {  
    .row{
        display: flex;
    }
    .col-sm-6{
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tit{
        display: flex;
        width: 100px;
        justify-content: center;
        align-items: center;
    }
}
