<div>
    <div class="row">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombreEdu">Educacion</label>
                <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu" required="">
            </div>
            <div class="form-group">
                <label for="descripcionEdu">Descripcion</label>
                <input type="text" class="form-control" id="nombreEdu" name="descripcionEdu" [(ngModel)]="descripcionEdu" required="">
            </div>
            <div>
                <button class="btn btn-dark">
                     Agregar Educacion
                </button>
            </div>
        </form>
    </div>
</div>