<div>
    <div class="row">
        <form (ngSubmit)="update()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombreExp">{{field1name}}</label>
                <input type="text" class="form-control" id="nombreExp" name="field1" [(ngModel)]="field1" required>
            </div>
            <div class="form-group">
                <label for="descripcionExp">{{field2name}}</label>
                <input type="text" class="form-control" id="descripcionExp" name="field2" [(ngModel)]="field2" required>
            </div>
            <div class="form-group" *ngIf="field3 !== null && field3name">
                <label for="descripcionExp">{{field3name}}</label>
                <input type="text" class="form-control" id="Exp" name="field3" [(ngModel)]="field3" required>
            </div>
            <div class="form-group" *ngIf="field4 !== null && field4name">
                <label for="descripcionExp">{{field4name}}</label>
                <input type="text" class="form-control" id="Exp" name="field4" [(ngModel)]="field4" required>
            </div>
            <div>
                <button class="btn btn-dark" >
                    {{butttonText}} 
                </button>
            </div>
        </form>    
    </div>
</div>